/*                KEY POSITIONS

  ╭────────────────────╮ ╭────────────────────╮
  │  0   1   2   3   4 │ │  5   6   7   8   9 │
  │ 10  11  12  13  14 │ │ 15  16  17  18  19 │
  │ 20  21  22  23  24 │ │ 25  26  27  28  29 │
  ╰───────╮         30 │ │ 31       ╭─────────╯
          │ 32  33  34 │ │ 35 36 37 │
          ╰────────────╯ ╰──────────╯
*/

compatible = "zmk,combos";

#define COMBO(NAME, BINDINGS, KEYPOS, LAYERS) \
  combo_##NAME { \
    bindings = <BINDINGS>; \
    key-positions = <KEYPOS>; \
    layers = <LAYERS>; \
  };

COMBO(q, &kp Q, 0 1, DEFAULT)
COMBO(qu, &kp Q &kp U, 1 2, DEFAULT)
COMBO(esc, &kp ESCAPE, 12 13, DEFAULT)
